# Student Data
This notebook analyzes pass/fail data for a class

In [1]:
# make an array of numbers and store in the data variable
data = [50, 47, 97, 64, 55, 78, 85, 32, 15, 20, 45, 88, 92, 66, 66, 78, 80, 60, 65, 72, 54]

# print out the values
print(data * 2)

[50, 47, 97, 64, 55, 78, 85, 32, 15, 20, 45, 88, 92, 66, 66, 78, 80, 60, 65, 72, 54, 50, 47, 97, 64, 55, 78, 85, 32, 15, 20, 45, 88, 92, 66, 66, 78, 80, 60, 65, 72, 54]

In [2]:
import numpy as np
# NumPy is a Python library used for working with arrays

grades = np.array(data)

print(grades * 2)

[100  94 194 128 110 156 170  64  30  40  90 176 184 132 132 156 160 120
 130 144 108]

In [3]:
# find the length of the array using .shape
grades.shape

(21,)

In [4]:
grades[0]

50

In [5]:
# do mathematical operations on the whole array
grades.mean()

62.333333333333336

In [6]:
study_hours = [10.0,11.5,9.0,16.0,9.25,1.0,11.5,9.0,8.5,14.5,15.5,13.75,9.0,8.0,15.5,8.0,9.0,6.0,10.0,12.5,12.0]

student_data = np.array([study_hours, grades])

In [7]:
# to get the first item in the first array (study_hours)
print(student_data[0][0])

# to get the first item in the second array (grades)
print(student_data[1][0])

10.0
50.0

In [8]:
# analysis: calculate the average/mean student_data and store it in a variable
avg_study = student_data[0].mean()
avg_grade = student_data[1].mean()
print(f"Average study time: {avg_study}\nAverage grade: {avg_grade}")

Average study time: 10.452380952380953
Average grade: 62.333333333333336

In [9]:
# Introduction to Pandas
# array inside an array aka complicated hence we use pandas
import pandas as pd

# Data.Frame aka a Table
df_students = pd.DataFrame({'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic', 'Jimmie', 
                                     'Rhonda', 'Giovanni', 'Francesca', 'Rajab', 'Naiyana', 'Kian', 'Jenny',
                                     'Jakeem','Helena','Ismat','Anila','Skye','Daniel'],
                            'StudyHours':student_data[0],
                            'Grade':student_data[1]})

df_students

         Name  StudyHours  Grade
0         Dan       10.00   50.0
1       Joann       11.50   47.0
2       Pedro        9.00   97.0
3       Rosie       16.00   64.0
4       Ethan        9.25   55.0
5       Vicky        1.00   78.0
6    Frederic       11.50   85.0
7      Jimmie        9.00   32.0
8      Rhonda        8.50   15.0
9    Giovanni       14.50   20.0
10  Francesca       15.50   45.0
11      Rajab       13.75   88.0
12    Naiyana        9.00   92.0
13       Kian        8.00   66.0
14      Jenny       15.50   66.0
15     Jakeem        8.00   78.0
16     Helena        9.00   80.0
17      Ismat        6.00   60.0
18      Anila       10.00   65.0
19       Skye       12.50   72.0
20     Daniel       12.00   54.0

In [10]:
# how to access the data frame in pandas using .loc 
# df_students.loc[0]

# df_students.loc[0, 'Grade']

# # use filter expression
# df_students[df_students['Name']=='Vicky']

# using query method
# df_students.query('Name=="Vicky"')

# another method of accessing data
df_students[df_students.Name=="Vicky"]

    Name  StudyHours  Grade
5  Vicky         1.0   78.0